.body {
	height: 100vh;
	flex: 0.8;
	background: linear-gradient(#5b5773, rgba(0, 0, 0, 1));
	color: white;
	padding: 2rem 2rem 5rem;
	overflow-y: overlay;
}

.body::-webkit-scrollbar {
	width: 14px;
}
.body::-webkit-scrollbar-track {
	background: transparent;
}
.body::-webkit-scrollbar-thumb {
	background: grey;
}
