.header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 2rem;
}

.header__left {
    flex: .5;
    min-width: 4.5rem;
    background: white;
    color: grey;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    padding: .5rem;
}

.header__left > input {
    border: none;
    width: 100%;
}

.header__left > input:focus {
    outline: none;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__right > h4 {
    margin: 0 .5rem;
}