.login {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.login > img {
    width: 100%;
    max-width: 50rem;
}

.login > a {
    text-decoration: none;
    padding: 1.25rem;
    background-color: #1db954;
    border-radius: 6rem;
    font-weight: bold;
    color: white;
}
