.sidebar {
	height: 100vh;
	min-width: 14rem;
	flex: 0.2;
	padding: 0 0.5rem 6rem;
	background: black;
	display: flex;
	flex-direction: column;
}

.sidebar__logo {
	/* width: 6rem; */
	height: 5rem;
	padding: 0.5rem;
	margin-right: auto;
}

.sidebar > hr {
	width: 90%;
	margin: 0.75rem auto;
	border: 1px solid #282828;
}

.sidebar__playlistsContainer {
	overflow-x: hidden;
	overflow-y: scroll;
}

.sidebar__playlistsContainer::-webkit-scrollbar {
	width: 14px;
}
.sidebar__playlistsContainer::-webkit-scrollbar-track {
	background: transparent;
}
.sidebar__playlistsContainer::-webkit-scrollbar-thumb {
	background: grey;
}
